.article {
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

.article a {
    color: var(--color-primary);
    text-decoration: none;
    transition: color .2s;
    font-size: inherit;
    text-transform: inherit;
}

.article a:hover {
    color: initial;
}

.article img {
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    ul {
        padding-inline-start: 30px;
    }
}

.reading-indicator {
    position: absolute;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--color-secondary);

    transition: width ease-out .2s;
}